<!DOCTYPE html>
<html>

<head>
	<title>Password recoverye</title>
</head>

<body>
	<a href="/">Home</a>
	<form class="login100-form validate-form" method="post">
		<span class="login100-form-title">
		</span>
		enter usertype:<select name="usertype">
			<option value="recipe">User</option>
		</select><br>
		Username: <input type="text" name="uname" required><br>
		Security Qustion: What is your father Name?<br>
		Answer: <input type="text" name="fathersName" required><br>
		New password: <input type="password" name="password" required><br>
		<input type="submit" name="" value="Submit">
	</form>
	<a href="/login">sign in</a>
</body>

</html>